@import 
url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,400,700');


h1, h2, h3, h4, h5, h6 { font-family: Source Sans Pro; }
body, button, input, select, textarea { font-family: Source Sans Pro; }

body { border-color: #4a86cf; }
		
a { color: #4a86cf; } 
		
.main-navigation li:hover > a, a:hover { color: #53cfe8; }
				
.member .fa:hover { background: #4a86cf; } 
				
#sequence .slide-arrow { background: #4a86cf; } 
				
.social-media-icons .fa { color: #1e73be; } 
.home-services .fa, .service .fa  { background: #4a86cf; }
				 
.entry-header { background: #4a86cf; }
				
.home-entry-title:after, .member-entry-title:after, 
.works-entry-title:after, .client-entry-title:after, .home-news 
h5:after, .home-team h5:after, .home-cta h6:after, .footer-contact 
h5:after, .member h5:after { border-color: #4a86cf; } 
				
.main-navigation ul ul li { border-color: #4a86cf; }
				
button, input[type="button"], input[type="reset"], input[type="submit"] 
{ background: #4a86cf; }  
button, input[type="button"], input[type="reset"], input[type="submit"] 
{ border-color: #4a86cf; }  
				
.home-blog .entry-footer:hover, button:hover, 
input[type="button"]:hover, input[type="reset"]:hover, 
input[type="submit"]:hover { border-color: #4a86cf; }  
.nav-previous, .paging-navigation .nav-previous, .post-navigation 
.nav-previous, .nav-next, .paging-navigation .nav-next, .post-navigation 
.nav-next { background: #4a86cf; }  
#site-navigation button:hover { background: none; }
h1.site-title a { color: #4a86cf; } 
body, button, input, select, textarea, p { color: #1e2628; }			
blockquote { border-color:#4a86cf; }	
.site-footer { background: #4a86cf; }
.footer-contact h5 { color: #4a86cf; }  
.footer-contact h5:after { border-color: #4a86cf; }

/* Home page */

@media (min-width: 920px) {
  section #hero-header{
    background-image: 
url("https://static.gnome.org/guadec-2018/website-hero-shrinked.svg") 
!important;
  height: 500px !important;
  }
}


@media (max-width: 920px) {
  section #hero-header{
   height: 500px !important;
   background-image: 
url("https://static.gnome.org/guadec-2018/website-hero.svg") !important;
  }
}

@media (max-width: 550px) {
  section #hero-header{
   height: 350px !important;
   background-image: 
url("https://static.gnome.org/guadec-2018/website-hero.svg") !important;
  }
  #intro-images {
      display: none;
  }
  #intro-subsection {
    width: 100% !important;
    text-align: center !important;
  }
}

@media (max-width: 400px) {
  section #hero-header{
   height: 350px !important;
   background-image: 
url("https://static.gnome.org/guadec-2018/website-hero-big.svg") 
!important;
  }
}

h1, h2, h3, h4, h5 {
  	font-family: 'Source Sans Pro', sans-serif;
    color: #3f3f3f;
    margin: 0px;
    padding-top: 20px;
    padding-bottom: 10px;
}


h2 {
    font-size: 2.4em;
    padding-bottom: 20px;
    font-weight: 200 !important;
}

h3 {
    font-size: 1.5em;
    font-weight: normal;
    color: #4a86cf;
}

h4 {
    font-size: 1.2em;
    font-weight: normal;
    color: #4a86cf;
}


/* BLUE
.footer-contact {
  background-color: #4a86cf;
  padding: 0;
}

.footer-contact .footer-block {
  background-color: #4a86cf;
}

.footer-contact .footer-block ul {
  list-style: none;
  padding: 0;
  text-align: left;
}

.footer-contact .footer-block ul li a {
  color: white;
}

.footer-contact .footer-block ul li a:hover {
  color: cyan;
}
*/

/* BLACK */
.footer-contact {
  background-color: black;
  padding: 0;
}

.footer-contact .footer-block {
  background-color: black;
}

.footer-contact .footer-block ul {
  list-style: none;
  padding: 0;
  text-align: left;
}

.footer-contact .footer-block ul li a {
  font-size: medium;
  color: gray;
}

.footer-contact .footer-block ul li a:hover {
  color: white;
  text-decoration: underline;
}



/* HERO image */
section #hero-header{
 background-color: #4a86cf !important;
 background-repeat: no-repeat !important;
 background-attachment: scroll !important;
 background-position: 50% 100% !important;
 background-size: contain !important;
}


.entry-header {
  background: #4a86cf 
url("https://static.gnome.org/guadec-2018/skyline.svg") center bottom 
no-repeat !important;
}

h1.entry-title {
	margin-bottom: 100px;
}

#intro-images {
	margin-top: 50px;
}

#intro-images .image {
  display: inline-block;
  width: 200px;
  height: 200px;
  margin: 20px;
}

#intro-images .image1 {
  background: #4a86cf 
url("https://static.gnome.org/guadec-2018/image-1-jan.jpg") no-repeat;
}

#intro-images .image2 {
  background: #4a86cf 
url('https://static.gnome.org/guadec-2018/image-2-cake.jpg') center 
no-repeat;
}

#intro-images .image3 {
  background: #4a86cf 
url("https://static.gnome.org/guadec-2018/image-3-group.jpg") no-repeat;
}

#intro-images .image4 {
  background: #4a86cf 
url("https://static.gnome.org/guadec-2018/image-4-stickers.jpg") 
no-repeat;
}

#intro-subsection {
  vertical-align: top;
  width: 40%;
  padding: 5%;
  margin: 0;
  list-style: none;
  display: inline-block;
  text-align: left;
  color: #555;
}

.home-cta {
  padding: 0;
  padding-top: 50px;
}

.home-services .fa, .service .fa {
  background-color: #4a86cf !important;
}

#home-custom-socials p {
  font-size: x-large;
  color: #4a86cf;
}

#home-custom-socials i.fa {
  font-size: 5em;
  color: #4a86cf;
  margin: 0;
  padding: 0;
}

.home-content {
  background-color: #fff;
  border: none;
}

.home-services {
  background-color: #fafafa;
  border: none;
}

#colophon {
  display: none;
}

#content > div.home-content > div > div > p {
  color: #4a86cf;
  font-size: x-large;
  font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif
}

#hero-header h1 {
  font-size: 8em;
  font-weight: bold;
  font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
}

.navigation-container {
  float: none;
  font-size: x-large;
}

#site-navigation {
  margin: 0;
  padding: 0;
}


#site-navigation a {
  margin: 0;
  padding: 0 20px;
}

.sensible-home-widget-area {
	color: black;
	background-color: white;
}

.home-speakers {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-around;
  font-family: sans-serif;
  font-weight: 100;
}

.home-speakers a {
  display: block;
  min-width: 200px;
  color: inherit;
  text-decoration: none;
  text-align: center;
  line-height: 24px;
}

.home-speakers a img {
  width: 150px;
  height: 150px;
  border-radius: 75px;
  margin-bottom: 10px;
}

.home-speakers a h4 {
  font-weight: 100;
  color: #018094;
}

.home-speakers a p,
.home-speakers a h4 {
  margin: 0;
}

.home-speakers a p {
	color: #222;
}

.home-sponsors {
	list-style-type: none;
	display: flex;
	align-items: center;
	justify-content: space-around;
	flex-wrap: wrap;
}

.sponsor-container {
      padding-top: 30px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;
}

td.sponsor-logo-cell {
	padding-right: 15px;
	width:265px;
}

aside {
	padding-bottom:30px;
}

.speaker-picture {
	box-shadow: 0px 0px 10px #888888;
}


.bios-speaker-photo {
	/*height: 200px;
	width: 200px;*/
	float: left;
	margin-right: 20px;
	margin-bottom: 20px;
}

.register-button {
	text-align: center;
	font-size: 300%;
	background-color: #dfe;
	box-shadow: 0px 0px 10px #888888;
}

/* Logo tweaking */

.main-navigation {
	padding: 48px 115px 0 0;
}

.site-branding {
	margin: -20px 0 25px 65px;
}
/*
@media handheld, only screen and (max-width: 767px) {
	.main-navigation {
		padding: 40px 20px 0 0;
	}
}  

@media only screen and (min-width: 901px) and (max-width: 1099px){
	.main-navigation {
		margin-top: -110px;
	}
}
*/

.entry-header {
}

.sponsorblock {
	display: inline-block;
  	width: 362px;
    margin: 0 10px;
    vertical-align: top;
}

.sponsorblock h3 {
  font-size: normal;
}

.sponsorblock img {
	display: block;
  	width: 100%;
}

.blog-entry-header {
  background-color: #4a86cf;
  padding: 0;
}

.blog-entry-header h1.entry-title {
  font-size: x-large;
  margin: 0;
  padding: 10px;
}

.entry-content {
  padding: 10px;
}

.menu-item {
	font-size: large;
}

.normal-text {
	font-size: medium !important;
  color: black !important;
}

.sponsorbox {
  padding: 25px 0;
  border-bottom: 1px gray solid;
  margin-bottom: 40px;
}

#menu-item-333:hover ul.sub-menu {
    margin-left: 10px;
    left: -40px;
    width: 202px;
    top: 1.8em;
}

/* Schedule styling, based on the GUADEC one */

.schedule {
    font-family: 'Source Sans Pro', sans-serif;
	border-collapse: collapse;
  overflow: auto;
/*
    max-width:900px;
	margin-left:auto;
	margin-right:auto;
*/
}

.schedule .abstract {
  margin: 30px 0;
  border-bottom: 1px black solid;
  margin-bottom: 50px;
}

.schedule .abstract h4 {
	font-size: 1.5em;
}


.schedule .abstract .details {
  font-style: italic;
  font-weight: bold;
  color: gray;
}

.schedule td {
	border:none;
	vertical-align:middle;
	text-align:center
}


.schedule th {
	text-align:left;
	padding: 1ex 2em 1ex 2em;
}

.schedule tr.rooms th:not(:first-child) {
	text-align:center;
	border:1px solid #b6b6b6;
	background-color:#EAECEE;
}


.schedule thead tr td {
  width: 45%;
  font-weight:bold;
}

.schedule tbody tr td {
  width: 45%;
	border: 2px solid #fff;
	text-align:center;
	padding: 1ex 2em 1ex 2em;
}

.schedule tr > td:first-child {
  	width: 10%;
	border: none;
  	font-weight:bold;
}

.schedule-speaker-photo {
	float: left;
	height:100px;
	width:100px;
	margin-right: 1em;
	filter: url("data:image/svg+xml;utf8,<svg 
xmlns=\'http://www.w3.org/2000/svg\'><filter 
id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 
0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 
0\'/></filter></svg>#grayscale"); /* Firefox 10+, Firefox on Android */
    filter: gray; /* IE6-9 */
    filter: grayscale(100%);
	-webkit-filter: grayscale(100%);
}

.headline-talk {
	background-color: #7db9ff;
	color:#FFFFFF;
}
.headline-talk a:link,
.headline-talk a:visited,
.headline-talk a {
	color:#FFFFFF;
}
.headline-talk a:hover,
.headline-talk a:active,
.headline-talk p {
	color:#DEDEDE;
}

.schedule .headline-talk td:nth-child(2), .schedule .talk 
td:nth-child(2) {
	text-align:left;
}

/* 
.talk {
	background-color: #c5e3ff;
}
.break {
	background-color: #c5ffc5;
}
.informal-session {
	background-color: #ffe9c5;
}
*/

.talk {
	background-color: #efefef;
}
.break {
	background-color: #dadada;
}
.informal-session {
	background-color: #dadada;
}
.open-talk {
  	padding: 0 !important;
	background-color: #f6f6f6;
}

.footer_links ul {
	list-style: none;
    line-height: 1.5em;
}

#sponsors {
padding: 30px 0;
}

#sponsors .sponsorslist {
	padding: 25px 0;
}

.sponsors-home > a {
  display: inline-block;
  margin: 20px 25px;
}
/*
.social-event {
    max-width: 30%;
    display: inline-block;
  	vertical-align: top;
  	padding: 10px;
}
*/

div.hidden {
	display: none !important;
}
